body {
    background-color: aquamarine;
}

#previewDiv {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.clone {
    position: absolute;
    top: 0;
    left: 0;
}

.highlight {
    border: 2px solid green;
}

intput.error {
    background-color: gold;
}

.hide {
    display: none;
}