body {
    background-color: aquamarine;
}
.wrapper {
    min-height: 80vh;
}

.footer {
    min-height: 20vh;
}

#previewDiv {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.clone {
    position: absolute;
    top: 0;
    left: 0;
}

.highlight {
    border: 2px solid green;
}

.hide {
    display: none;
}

.stickers {
    background-color: aliceblue;
    padding: 0.2em;
}

.fonty {
    font-family: 'Permanent Marker', cursive;
    color: #f6a230;
    text-shadow: 2px 2px hsl(348, 86%, 43%);
}

.yellow {
    color: #f6a230;
}

.greyish {
    color: #555353;
}

#grid {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: white;
    padding: 0.5em;
}
#grid figure {
    margin: 0;
    padding: 0;
}

#grid img {
    display: block;
    max-width: 80%;
    height: auto;
}